@media screen and (min-width: 1536px) {
	nav#toc {
		position: sticky;
		position: -webkit-sticky;
		top: 120px;

		max-height: calc(100vh - 140px);
		overflow: auto;
	}
}
nav#toc{
	a {
		text-decoration: none;
		transition: 0.3s all ease;
	}

	li.active > a {
		background: #00e1ff;
	}

	li > a:hover {
		color: #5a4da3;
	}
}

#post-body {
	position: relative;
}
#post-body{
	h2,
	h3 {
		scroll-margin-top: 120px;
	}
}
/* Safari-only */
@supports (-webkit-hyphens:none) {
	#post-body{
		h2,
		h3 {
			padding-top: 120px;
			margin-top: -120px;
		}
	}
}